#top{
    width: 100%
}
.experience{
   text-align: left;

   color: black;
}

.date, .location{
    text-align:right;
    
    white-space: nowrap;
}
.title{
    font-weight: bold;
    font-style: italic;
}
.company{
    font-size: x-large;
    font-weight: bold;
    color: black;
}
.description{
    overflow: hidden;
    white-space: nowrap;
}
.container{
    padding-bottom: 75px;
}
.projectdescription{
    position: relative;
    bottom: 30px;
    white-space: normal;

}
.tools{
    font-style: italic;
}
#uncimage{
    position: relative;
    
}

#education{
    background-color: white;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    
}

#name{
	font-weight: bold;
    color: black;
    font-size: 20px;
    text-shadow: 2px 2px 4px white;

}
#topid{
    color:white;
}
#work, #education, #projects {
    background-color:white;
}


#myskillstitle{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: black;
}
#skills, #collegeinfo{
    background-color: #7BAFD4 ;
}
#skillsdiv{
    border: solid;
    transform: scale(1.5);
}
#myskillstitle{
    position: relative;
    bottom: 50px;
}
#collegetitle{
    font-weight: bold;
    font-size: 20px;
    border: solid;
    
}
#collegeinfo{
    color: black;
    font-weight: bold;
    text-shadow: none;
}
